<div class="footer-bg">
    <footer class="footer-grid">
            <div class="img-footer">
                <img src="/media/logobr.webp" alt="main-logo">
            </div>
            <div class="rights-footer">
                <p>All Rights Reserved {{ ano_atual }} </p>
            </div>
            <div class="img-social">
                <a href="https://www.instagram.com/inovahuboficial/" target="_blank"><img src="/media/instagram.webp" alt="main-logo"></a>
                <a href="https://www.linkedin.com/company/inovahuboficial/" target="_blank"><img src="/media/linkedin.webp" alt="main-logo"></a>
            </div>
    </footer>
</div>