<aside class="menu white-bg">
    <div class="main-content menu-content">
        <h1>
            <a href="#">INOVAHUB</a>
        </h1>
        <nav>
            <ul>
                <li><a href="#home">Início</a></li>
                <li><a href="#about">Sobre</a></li>
                <li><a href="#method">Metodologia</a></li>
                <li><a href="#contact">Contato</a></li>
                <li><a href="https://app.inovahub.net/site/login" target="_blank">
                    <button class="menu-btn" type="button">ENTRAR</button>
                </a></li>
            </ul>
        </nav>
    </div>
</aside>

<div id="home" class="menu-spacing"></div>

<section class="intro main-bg section">
    <div class="main-content intro-content">
        <div class="intro-text-content">
            <img class="img-intro" src="/media/img/logo.webp" alt="main-logo">
            <h4>Aprender nunca foi tão envolvente!</h4>
            <p>Descubra uma nova forma de engajar alunos e professores
                numa jornada de aprendizado gamificada e envolvente.</p>
            <a href="#about">
                <button class="intro-btn" type="button">SAIBA MAIS</button>
            </a>
        </div>
        <div class="intro-img">
            <img src="/media/img/top_image.webp" alt="top-image">
        </div>
    </div>
</section>

<section id="about" class="info-grid primary-bg">
    <div class="main-content info-grid-content">
        <h4>Clientes e Parceiros</h4>
        <p>Quem já confia no Inovahub:</p>
        <div class="grid">
            <div class="info-img">
                <img src="/media/img/logo-senac.webp" alt="Senac">
            </div>
            <div class="info-img">
                <img src="/media/img/logo-senai.webp" alt="Senac">
            </div>
            <div class="info-img">
                <img src="/media/img/logo-icm.webp" alt="Senac">
            </div>
            <div class="info-img">
                <img src="/media/img/logo-sae.webp" alt="SAE">
            </div>
        </div>
    </div>
</section>

<section class="main-content main-bg">
    <h5 class="about-title-content">O Inovahub traz formas únicas e divertidas de aprimorar o ensino e aprendizado.</h5>
    <div class="main-content about-content">
        <div class="about-text-content">
            <h6>Supere as expectativas com uma jornada de quizes gamificados!</h6>
            <p>Planeje, crie e distribua desafios para turmas inteiras de forma simples e fácil.
                Insira conteúdos complementares desbloqueáveis, crie prêmios e tenha uma grande
                gincana virtual de conhecimento super engajadora.</p>
        </div>
        <div class="about-img">
            <img src="/media/img/about-top.webp" alt="about-top-image">
        </div>
        <div class="about-img">
            <img src="/media/img/about-top-2.webp" alt="about-top-image-2">
        </div>
        <div class="about-text-content">
            <h6 style="color: var(--primary-color)">Faça a avaliação das respostas dos alunos
                de forma rápida, com nossa ferramenta movida por inteligência artificial.</h6>
            <p>Corrija centenas de textos, e dê feedbacks para os alunos de forma automatizada.
                Deixe que o nosso sistema de IA faça o trabalho e tenha mais tempo para pensar em novos
                conteúdos para os alunos.</p>
        </div>

    </div>
</section>

<section class="secondary-bg">
    <div class="main-content about-info-content">
        <div class="about-info-text-content">
            <h6>Supere as expectativas com uma jornada de quizes gamificados!</h6>
            <p>Planeje, crie e distribua desafios para turmas inteiras de forma simples e fácil.
                Insira conteúdos complementares desbloqueáveis, crie prêmios e tenha uma grande
                gincana virtual de conhecimento super engajadora.</p>
            <a href="#method">
                <button class="about-info-btn" type="button">CONHEÇA</button>
            </a>
        </div>
        <div class="about-info-img">
            <img src="/media/img/about-info.webp" alt="about-top-image">
        </div>
    </div>
</section>

<section class="main-content main-bg">
    <div style="min-height: 150vh" class="main-content about-content">
        <div class="about-img">
            <img src="/media/img/about-bottom.webp" alt="about-top-image">
        </div>
        <div class="about-text-content">
            <h6 style="color: var(--primary-color)">Simplifique sua análise de resultados com nossos painéis
                inteligentes</h6>
            <p>Com nossos painéis inteligentes, você poderá verificar o desempenho de cada aluno nos
                desafios aplicados, como está a posição dele no ranking da turma e em quais disciplinas
                ou áreas de conhecimento o aluno pode melhorar.</p>
        </div>
        <div class="about-text-content">
            <h6>Crie e compartilhe projetos educativos com facilidade</h6>
            <p>Crie projetos para serem trabalhados por seus alunos. Determine critérios para filtrar quais alunos terão
                acesso aos projetos. Receba os projetos através da plataforma e faça correções e comentários para cada
                aluno.</p>
        </div>
        <div class="about-img">
            <img src="/media/img/about-bottom-2.webp" alt="about-top-image-2">
        </div>
        <div class="about-img">
            <img src="/media/img/about-bottom-3.webp" alt="about-top-image">
        </div>
        <div class="about-text-content">
            <h6 style="color: var(--title-color-three)">Crie desafios síncronos ou assíncronos: o Inovahub se adapta ao
                seu plano pedagógico.</h6>
            <p>Os desafios e jornadas podem ser criados para serem respondidos de forma simultânea por todos os alunos
                ou permitindo
                que os alunos respondam quando eles quiserem. Dessa forma você tem liberdade para planejar como irá usar
                o Inovahub.</p>
        </div>
    </div>
</section>

<section id="method" class="main-bg">
    <h5 class="method-title-content">Como o Inovahub funciona</h5>
    <div class="main-content method-grid-content">
        <div class="method-grid">
            <article class="method-img method-text-content">
                <img src="/media/img/method-1.webp" alt="method-image">

                <h6>Crie jogos instigantes </h6>
                <p>O InovaHub permite que os professores criem jogos personalizados. Os alunos são
                    incentivados a participar ativamente do processo de aprendizagem, aumentando o
                    engajamento e a motivação.</p>
            </article>
            <article class="method-img method-text-content">
                <img src="/media/img/method-2.webp" alt="method-image">

                <h6>Premie os participantes</h6>
                <p>Com os sistemas de pontuação, ranking, premiação e a possibilidade de competir com
                    os colegas, o jogo se torna uma ferramenta eficaz para manter o interesse dos
                    alunos e ajudá-los a reter conhecimento.</p>
            </article>
            <article class="method-img method-text-content">
                <img src="/media/img/method-3.webp" alt="method-image">

                <h6>Monitore desempenhos</h6>
                <p>O Inovahub também fornece recursos de análise de desempenho. Com essas informações, os
                    professores podem personalizar ainda mais a experiência de aprendizagem e ajudar os
                    alunos a alcançar seus objetivos acadêmicos.</p>
            </article>
        </div>
    </div>
</section>

<section class="detail-bg">
    <div class="main-content method-grid-content">
        <div class="method-grid-detail">
            <article class="method-text-content-detail">
                <h6 class="method-title-content">Aprendizado para todos os públicos</h6>
                <p>Seja em sala de aula, em treinamentos corporativos, o Inovahub pode ser
                    facilmente adaptado para atender às suas necessidades de ensino ou treinamento.</p>
            </article>
            <article class="method-detail-img">
                <img src="/media/img/method-btn-01.webp" alt="method-image-detail">
            </article>
            <article class="method-detail-img">
                <img src="/media/img/method-btn-02.webp" alt="method-image-detail">
            </article>
            <article class="method-detail-img">
                <img src="/media/img/method-btn-03.webp" alt="method-image-detail">
            </article>
        </div>
    </div>
</section>

<section class="main-bg">
    <div class="main-content method-info-grid-content">
        <div class="method-info-grid-detail">
            <article class="method-info-img method-text-content-detail">
                <img src="/media/img/method-bg.webp" alt="method-image-detail">
            </article>
            <article class="method-detail-img method-text-info-content-detail">
                <h6 class="method-info-title-content">Reforce o aprendizado dos pequenos e grandinhos</h6>
                <p>Torne o processo de aprendizado mais envolvente e engajador ao incorporar elementos lúdicos como
                    competição, desafios e recompensas.</p>
                <img src="/media/img/method-btn-04.webp" alt="method-image-info-detail">
                <img src="/media/img/method-btn-05.webp" alt="method-image-info-detail">
                <img src="/media/img/method-btn-06.webp" alt="method-image-info-detail">
                <img src="/media/img/method-btn-07.webp" alt="method-image-info-detail">
            </article>
        </div>
    </div>
    <div id="contact"></div>
</section>
