<!-- Showing Messages using Modals -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="messageModalLabel">Inovahub Informa:</h6>
                <button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Messages Modals using Javascript -->
<script>
    $(document).ready(function () {
        {% if messages %}
            $('#messageModal').modal('show');
        {% endif %}
    });
</script>

<!-- Modal for method-btn-01.webp -->
<div class="modal fade" id="imageModal01" tabindex="-1" role="dialog" aria-labelledby="imageModal01Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-body">
                <img src="/media/img/escolas.webp" alt="Imagem do Modal" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>

<!-- Modal for method-btn-02.webp -->
<div class="modal fade" id="imageModal02" tabindex="-1" role="dialog" aria-labelledby="imageModal02Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-body">
                <img src="/media/img/empresas.webp" alt="Imagem do Modal" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>

<!-- Modal for method-btn-03.webp -->
<div class="modal fade" id="imageModal03" tabindex="-1" role="dialog" aria-labelledby="imageModal03Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-body">
                <img src="/media/img/universidades.webp" alt="Imagem do Modal" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>

<!-- Modal for method-btn-04.webp -->
<div class="modal fade" id="imageModal04" tabindex="-1" role="dialog" aria-labelledby="imageModal04Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-body">
                <img src="/media/img/feedback.webp" alt="Imagem do Modal" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>

<!-- Modal for method-btn-05.webp -->
<div class="modal fade" id="imageModal05" tabindex="-1" role="dialog" aria-labelledby="imageModal05Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-body">
                <img src="/media/img/competicao.webp" alt="Imagem do Modal" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>

<!-- Modal for method-btn-06.webp -->
<div class="modal fade" id="imageModal06" tabindex="-1" role="dialog" aria-labelledby="imageModal06Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-body">
                <img src="/media/img/acompanhar.webp" alt="Imagem do Modal" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>

<!-- Modal for method-btn-07.webp -->
<div class="modal fade" id="imageModal07" tabindex="-1" role="dialog" aria-labelledby="imageModal07Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-body">
                <img src="/media/img/engajamento.webp" alt="Imagem do Modal" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>

<!-- Images Modals using Javascript -->
<script>
    $(document).ready(function () {
        // method-btn-01.webp
        $('img[src="/media/img/method-btn-01.webp"]').click(function () {
            $('#imageModal01').modal('show');
        });

        // method-btn-02.webp
        $('img[src="/media/img/method-btn-02.webp"]').click(function () {
            $('#imageModal02').modal('show');
        });

        // method-btn-03.webp
        $('img[src="/media/img/method-btn-03.webp"]').click(function () {
            $('#imageModal03').modal('show');
        });

        // method-btn-04.webp
        $('img[src="/media/img/method-btn-04.webp"]').click(function () {
            $('#imageModal04').modal('show');
        });

        // method-btn-05.webp
        $('img[src="/media/img/method-btn-05.webp"]').click(function () {
            $('#imageModal05').modal('show');
        });

        // method-btn-06.webp
        $('img[src="/media/img/method-btn-06.webp"]').click(function () {
            $('#imageModal06').modal('show');
        });

        // method-btn-07.webp
        $('img[src="/media/img/method-btn-07.webp"]').click(function () {
            $('#imageModal07').modal('show');
        });
    });
</script>
